extends layout

block content
  h1= title
  p Welcome to #{title}
  button#Black(
    type='submit'
    style='width: 25px; height: 25px; background-color: black;'
    onclick="javascript:send_msg();"
  )
  script(src='/javascripts/network.js')
